body,html{
    width: 100%;
    height: 100%}
    
body{
    background-image: url("https://images2.alphacoders.com/714/thumb-1920-714692.jpg");
    background-size: cover;
    background-position: center;}

.jumbotron{   
    margin-top: 69px;
    margin-left: 69px;
    margin-right: 69px;
    opacity: 0.86;
    font-weight: bold;


}

.btn-primary{
    left: 50%;
}

.display-4{
    text-align: center;
}

.lead{
    text-align: center;}

.button
{display: block;}

.modal-title
{text-align: center;}
