body,html{
    width: 100%;
    height: 100%}
    
body{
    background-image: url(images/fall_road.jpg);
    background-size: cover;
    background-position: center;}

.jumbotron{   
    margin-top: 69px;
    margin-left: 69px;
    margin-right: 69px;
}

.btn-primary{
    left: 50%;
}

.display-4{
    text-align: center;
}

.lead{
    text-align: center;}

.button
{display: block;}

.modal-title
{text-align: center;}
