.btn-danger {
    background-color: orange;
}

.btn-danger:hover {
    background-color: black;
}

.jumbotron
{   
    margin-top: 69px;
    margin-left: 69px;
    margin-right: 69px;
}

.btn-primary
{
    left: 50%;
}

.display-4
{
    text-align: center;
}

.lead
{
    text-align: center;
}

.button
{display: block;}

.modal-title
{text-align: center;}
