body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg"); */
  background-image: url("../images/blackboard.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron{   
  width: 65%;
  margin-top:6%;
  margin-left: 17.5%;
  margin-right: 69px;
  background: rgba(255, 255, 255, 0.85);
}

h1 {
  color: white;
  text-align: center;
  margin-top: 300px;
}

.form-group {
  width: 60%;
    margin-top: 0px;
    margin-left: 20%;
    
}

/* Dont need this */
.container {
  display: flex;
  justify-content: center;
  margin-top: 275px;
}