body,html{
    width: 100%;
    height: 100%}
    
body{
    background-size: cover;
    background-position: center;
    background-image: url("../images/Blue-Mountains-Background.jpg");
    background-attachment: fixed;
}

.jumbotron{   
    width: 85%;
    margin-top:6%;
    margin-left: 7.5%;
    margin-right: 150px;
    opacity: 0.9;
}


.col {
    background-color: gray;
    border: 2px solid black;
}

#backButton{
    margin-left: 700px;
}
