.jumbotron 
{
    width: 85%;
    margin-top: 6%;
    margin-left: 7.5%;
    margin-right: 150px;
    opacity: 0.9;
}

body
{
    background-size: cover;
    background-position: center;
    background-image: url("../images/galaxy.jpg");
    background-attachment: fixed;
}

h3
{
    margin-top: 2%;
    font-weight: bold;
    color: white;
}

#assn1
{
    margin-bottom: 1%;
    color: black;
}
